@charset "utf-8";
@import "compass";
@import "compass/reset/";

$contentWidth: 1080px;
//$mainNavlist: 4;
$baseColor00: #622954;
$baseColor01: #745399;
body {
	font-size: 14px;
	line-height: 1.75;
	color: #333;
}
a {
	text-decoration: none;
	color: $baseColor01;
	transition: all 0.3s linear;
}
/*base*/
#header-line {
	position: relative;
	background-color: $baseColor00;
	height: 30px;
	line-height: 30px;
	text-align: right;
	color: #ffffff;
	padding: 0 20px;
	font-size: 12px;
	#header-text {
		position: absolute;
		top: 0;left: 20px;
		height: 30px;
		line-height: 30px;
		color: #ffffff;
	}
	#header-social {
		text-align: right;
	}
}
#header {
	position: relative;
	background-color: #ffffff;
	height: 80px;
	#inner-header {
		position: absolute;
		left: 0;top: 0;
		height: 80px;
		width: 400px;
		#sitetitle {
			color: #000000;
			width: 400px;
			height: 80px;
			background-color: #ccc;
		}
	}
}

#key-area {
	width: 100%;
	min-height: 500px;
	position: relative;
	overflow: hidden;
	margin-bottom: 120px;
	background-color: #000;
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;left: 0;
		z-index: 999;
		height: 10px;
		width: 100%;
		background-image: url(images/nav_under.png);
	}
	#whats {
		position: absolute;
		font-size: 24px;
		width: 600px;
		width: 100%;
		text-align: center;
		bottom: 120px;
		z-index: 50;
		a {
			letter-spacing: 0.1em;
			color: #ffffff;
			border: 1px solid #ffffff;
			padding: 15px;
			border-radius: 5px;
		}
	}
	#arrow {
		position: absolute;
		bottom: 30px;left: 50%;
		z-index: 999;
		width: 40px;
		height: 40px;
		margin-left: -20px;
	}
	img {
		position: absolute;
		top: 50%;left: 50%;
		width: 100%;
		height: auto;
		margin-left: -50%;
		margin-top: -25%;
	}
}

#mainnav-area {
	position: absolute;
	top: 0;right: 0;
	height: 80px;
	#mainnav {
		height: 50px;
		li {
			height: 80px;
			width: 150px;
			float: left;
			a {
				display: block;
				position: relative;
				width: 150px;
				height: 80px;
				line-height: 80px;
				font-family: serif;
				font-style: italic;
				font-size: 18px;
				text-align: center;
				color: #333;
				&:hover {
					color: $baseColor01;
				}
			}
		}
	}
}
#content {
}
.headings-area {
	width: 100%;
	text-align: center;
	letter-spacing: 0.1em;
	border-bottom: 2px solid $baseColor00;
	.headings {
		width: $contentWidth;
		margin: 0 auto;
		font-size: 30px;
		font-family: serif;
		color: $baseColor00;
	}
	.lead {
		font-size: 14px;
		margin-bottom: 20px;
		color: #666;
		br {
			display: none;
		}
	}
}
.section {
	width: $contentWidth;
	min-height: 300px;
	margin: 0 auto 120px;
	padding: 40px 0;
}
#footer {
	padding: 0 20px;
	background-color: #000000;
	#inner-footer {
		height: 40px;
		line-height: 40px;
		#copy {
			color: #ffffff;
		}
	}
}

#member {
	overflow: hidden;
	li {
		width: 360px;
		height: 300px;
		float: left;
		margin-bottom: 60px;
		.name-thumb {
			width: 160px;
			height: 160px;
			background-color: #cccccc;
			margin: 0 auto 15px;
			border-radius: 80px;
			img {
				width: 160px;
				height: 160px;
				border-radius: 80px;
			}
		}
		.profile {
			padding: 0 10px;
			text-align: center;
			.ja {
				font-size: 18px;
				font-family: serif;
				margin-bottom: 0.75em;
				span {
					display: block;
					font-size: 14px;
				}
			}
		}
	}
}

/* contact form */
#sec05 {
}
.wpcf7 {
	width: 480px;
	margin: 0 auto;
	.f-title {
		letter-spacing: 0.1em;
		span {
			font-size: 12px;
			color: red;
		}
	}
	input {
		width: 100%;
		height: 2em;
		line-height: 2em;
		font-size: 18px;
		margin-bottom: 1em;
	}
	textarea {
		width: 100%;
		height: 200px;
		font-size: 16px;
		line-height: 1.75em;
		resize: none;
		overflow: auto;
		margin-bottom: 3em;
	}
	#f-btn-submit {
		input {
			width: 60%;
			margin: 0 20%;
			background-color: #333;
			border: none;
			height: 60px;
			line-height: 60px;
			color: #ffffff;
			letter-spacing: 0.1em;
			border-radius: 3px;
		}
	}
}

#contact-btn {
	width: 400px;
	height: 60px;
	margin: 40px auto;
	a {
		display: block;
		width: 400px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		background-color: #333;
		color: #ffffff;
		border-radius: 3px;
		&:hover {
			background-color: #000;
		}
	}
}

#pagetop-btn {
	position: fixed;
	bottom: 20px;right: 50px;
	a {
		display: block;
		width: 80px;
		height: 80px;
		opacity: 0.75;
		background-image: url(images/pagetop_btn.png);
		&:hover {
			opacity: 1;
		}
	}
}
#sec01-bg {
	background-image: url(images/sec01_bg.jpg);
	background-position: 50% 0;
	background-repeat: no-repeat;
}
#sec01 {
	text-align: center;
	padding: 60px 0;
	font-family: serif;
	font-size: 21px;
	line-height: 2;
	color: #ffffff;
	text-align: left;
	.sec01-subtitle {
		font-size: 28px;
		color: #ffffff;
		text-align: center;
		letter-spacing: 0.1em;
		border-bottom: 1px solid #ffffff;
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
	}
	.text {
	}
	.sec-group {
		padding: 0 1em;
		margin-bottom: 45px;
		ul {
			li {
				font-size: 21px;
				color: #ffffff;
				list-style: disc;
				list-style-position: inside;
				a {
					color: #ffffff;
					text-decoration: underline;
				}
			}
		}
	}
}

#sec02-bg {
	background-color: #f9fafa;
}

.top-event-sec,
.top-news-sec {
	ul {
		margin-bottom: 40px;
		a {
			display: block;
			color: #333;
			&:hover {
				background-color: #f6f6f6;
			}
		}
		li {
			border-bottom: 1px dotted #ccc;
			font-size: 18px;
			line-height: 4em;
			dl {
				dt {
					display: inline-block;
					margin-right: 1em;
					color: $baseColor01;
					font-weight: bold;
				}
				dd {
					display: inline-block;
				}
			}
		}
	}
	.more-btn {
		text-align: right;
		a {
			text-decoration: underline;
		}
	}
}

#sec06-headings-area {
	margin-bottom: -180px;
	#map-in-box {
		position: relative;
		bottom: -390px;left: 20px;
		z-index: 9999;
		width: 400px;
		height: 190px;
		background-color: #333;
		border-radius: 3px;
		font-family: serif;
		img {
			position: absolute;
			top: 25px;left: 15px;
		}
		h4 {
			position: absolute;
			right: 15px;top: 15px;
			color: #fff;
			width: 230px;
			border-bottom: 1px dotted #cccccc;
			padding-bottom: 5px;
		}
		p {
			position: absolute;
			right: 15px;
			top: 50px;
			color: #fff;
			text-align: left;
			font-size: 12px;
			width: 230px;
		}
	}
}
/*gmap*/
.gmap-area {
	position: relative;
	height: 600px;
	width: 100%;
	background-color: #ccc;
}
#mapbox {
	width: 260px;
	height: auto;
	h4 {
		font-size: 14px;
		font-weight: bold;
	}
	a {
		color: #333;
		text-decoration: underline;
	}
	table {
		width: 100%;
		th,td {
			font-size: 11px;
		}
		th {
			vertical-align: top;
			width: 30%;
			font-weight: bold;
		}
		td {
		}
	}
}

#bred {
	background-color: #ccc;
	padding-left: 20px;
	margin-bottom: 60px;
	li {
		display: inline-block;
		a {

		}
	}
	#home {
		a {
			&:after {
				content: ">";
				margin: 0 10px;
			}
		}
	}
}
#single-main {
//	overflow: hidden;
	padding: 60px 0;
	#go-top {
		text-align: left;
		padding: 30px 0;
	}
}
#single-post {
	width: 72.5%;
	padding: 0 2.5%;
	margin: 0 auto;
//	float: left;
	font-size: 16px;
	line-height: 1.75em;
	h3 {
		font-weight: bold;
	}
	ul {
		li {
			list-style: disc;
			list-style-position: inside;
		}
	}
}
#side {
//	width: 20%;
//	float: right;
//	font-size: 16px;
//	line-height: 1.75em;
}
/*980px-1080px end*/
@media screen and (max-width: 979px) {
body {
	font-size: 12px;
//	line-height: 1.75;
//	color: #333;
}
* {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
$contentWidthSP: 100%;
#header-line {
//	position: relative;
//	background-color: $baseColor00;
//	height: 30px;
//	line-height: 30px;
//	text-align: right;
//	color: #ffffff;
	padding: 0 10px;
//	font-size: 12px;
	#header-text {
//		position: absolute;
		top: 0;left: 10px;
//		height: 30px;
//		line-height: 30px;
//		color: #ffffff;
	}
	#header-social {
		display: none;
	}
}
#header {
//	position: relative;
//	background-color: #ffffff;
	height: 60px;
	#inner-header {
//		position: absolute;
//		left: 0;top: 0;
		height: 60px;
		width: auto;
		#sitetitle {
//			color: #000000;
			width: auto;
			height: 60px;
			background-color: #fff;
			img {
				width: auto;
				height: 60px;
			}
		}
	}
}
#mainnav-area {
//	position: absolute;
//	top: 0;right: 0;
	height: 60px;
	#mainnav {
		height: 60px;
		li {
			height: 60px;
			width: 100px;
//			float: left;
			a {
//				display: block;
//				position: relative;
				width: 100px;
				height: 60px;
				line-height: 60px;
//				font-family: serif;
//				font-style: italic;
//				font-size: 18px;
//				text-align: center;
//				color: #333;
				&:hover {
					color: $baseColor01;
				}
			}
		}
	}
}
#content {
}
.headings-area {
//	width: 100%;
//	text-align: center;
//	letter-spacing: 0.1em;
//	border-bottom: 2px solid $baseColor00;
	.headings {
		width: $contentWidthSP;
//		margin: 0 auto;
		font-size: 36px;
//		font-family: serif;
//		color: $baseColor00;
	}
	.lead {
		font-size: 18px;
//		margin-bottom: 20px;
//		color: #666;
		br {
			display: block;
		}
	}
}
#key-area {
//	width: 100%;
	min-height: 300px;
	position: relative;
	overflow: hidden;
	margin-bottom: 40px;
	#whats {
		position: absolute;
		font-size: 16px;
		width: 100%;
		text-align: center;
		bottom: 120px;
//		a {
//			letter-spacing: 0.1em;
//			color: #ffffff;
//			border: 1px solid #ffffff;
//			padding: 15px;
//			border-radius: 5px;
//		}
	}
	img {
		position: absolute;
		top: 50%;left: 50%;
		width: 100%;
		height: auto;
		margin-left: -50%;
		margin-top: -25%;
	}
}
.section {
	width: $contentWidthSP;
//	min-height: 300px;
	margin: 0 auto 80px;
	padding: 40px 10px;
}
#footer {
	padding: 0 10px;
//	background-color: #000000;
	#inner-footer {
//		height: 40px;
//		line-height: 40px;
		#copy {
//			color: #ffffff;
		}
	}
}

#member {
//	overflow: hidden;
	li {
		width: 33.33%;
//		height: 300px;
//		float: left;
		margin-bottom: 50px;
		.name-thumb {
			width: 160px;
			height: 160px;
//			background-color: #cccccc;
			margin: 0 auto 15px;
			border-radius: 80px;
			img {
				width: 160px;
				height: 160px;
				border-radius: 80px;
			}
		}
		.profile {
			padding: 0 5px;
//			text-align: center;
//			font-size: 13px;
			.ja {
				font-size: 18px;
				font-family: serif;
				margin-bottom: 0.5em;
				span {
					display: block;
					font-size: 14px;
				}
			}
		}
	}
}

#contact-btn {
//	width: 400px;
//	height: 60px;
//	margin: 40px auto;
	a {
//		display: block;
//		width: 400px;
//		height: 60px;
		font-size: 16px;
//		line-height: 60px;
//		text-align: center;
//		background-color: #333;
//		color: #ffffff;
//		border-radius: 3px;
		&:hover {
//			background-color: #000;
		}
	}
}

#pagetop-btn {
//	position: fixed;
	bottom: 20px;right: 20px;
	a {
//		display: block;
//		width: 70px;
//		height: 70px;
//		line-height: 70px;
//		font-size: 18px;
//		background-color: $baseColor00;
//		color: #ffffff;
//		border-radius: 35px;
//		text-align: center;
		opacity: 1;
		&:hover {
//			opacity: 1;
		}
	}
}
#sec01-bg {
//	background-image: url(../images/sec01_bg.jpg);
	background-position: 50% 50%;
	background-size: cover;
//	background-repeat: no-repeat;
}
#sec01 {
//	text-align: center;
	padding: 30px 0;
//	font-family: serif;
	font-size: 18px;
	line-height: 2;
//	color: #ffffff;
//	text-align: left;
	.sec01-subtitle {
		font-size: 21px;
//		color: #ffffff;
//		text-align: center;
//		letter-spacing: 0.1em;
//		border-bottom: 1px solid #ffffff;
//		padding-bottom: 0.5em;
//		margin-bottom: 0.5em;
	}
	.text {
	}
	.sec-group {
		padding: 0 1em;
		margin-bottom: 45px;
		ul {
			li {
				font-size: 18px;
				color: #ffffff;
				a {
					color: #ffffff;
					text-decoration: underline;
				}
			}
		}
	}
}

#sec02-bg {
//	background-color: #f9fafa;
}

.top-event-sec,
.top-news-sec {
	ul {
		margin-bottom: 40px;
		a {
			display: block;
			color: #333;
			&:hover {
				background-color: #f6f6f6;
			}
		}
		li {
//			border-bottom: 1px dotted #ccc;
//			font-size: 18px;
//			line-height: 4em;
			dl {
				dt {
//					display: inline-block;
//					margin-right: 1em;
//					color: $baseColor01;
//					font-weight: bold;
				}
				dd {
//					display: inline-block;
				}
			}
		}
	}
	.more-btn {
		font-size: 16px;
		padding-right: 10px;
//		text-align: right;
		a {
//			text-decoration: underline;
		}
	}
}

#sec06-headings-area {
	margin-bottom: 0;
	#map-in-box {
		position: static;
//		bottom: -390px;left: 20px;
//		z-index: 9999;
		width: 100%;
		height: auto;
		min-height: 200px;
		padding: 20px 20px;
//		background-color: #333;
//		border-radius: 3px;
//		font-family: serif;
		img {
			position: static;
			float: left;
			margin-right: 20px;
//			top: 25px;left: 15px;
		}
		h4 {
			position: static;
//			right: 15px;top: 15px;
//			color: #fff;
			width: 100%;
			font-size: 18px;
			text-align: left;
			border-bottom: none;
//			padding-bottom: 5px;
		}
		p {
			position: static;
//			right: 15px;
//			top: 50px;
			font-size: 14px;
			color: #fff;
//			text-align: left;
//			font-size: 12px;
			width: 100%;
		}
	}
}
/*gmap*/
.gmap-area {
//	position: relative;
//	height: 450px;
//	width: 100%;
//	background-color: #ccc;
}
#mapbox {
//	width: 260px;
//	height: auto;
	h4 {
//		font-size: 14px;
//		font-weight: bold;
	}
	a {
//		color: #333;
//		text-decoration: underline;
	}
	table {
//		width: 100%;
		th,td {
//			font-size: 11px;
		}
		th {
//			vertical-align: top;
//			width: 30%;
//			font-weight: bold;
		}
		td {
		}
	}
}
/*979px end*/
}
@media screen and (max-width: 767px) {
body {
	font-size: 10px;
//	line-height: 1.75;
//	color: #333;
}
$contentWidthSP: 100%;
#header-line {
//	position: relative;
//	background-color: $baseColor00;
	height: 20px;
	line-height: 20px;
//	text-align: right;
//	color: #ffffff;
	padding: 0 10px;
	font-size: 10px;
	#header-text {
//		position: absolute;
		top: 0;left: 10px;
//		height: 30px;
		line-height: 20px;
//		color: #ffffff;
	}
}
#header {
//	position: relative;
//	background-color: #ffffff;
	height: 40px;
	#inner-header {
//		position: absolute;
//		left: 0;top: 0;
		height: 40px;
		width: auto;
		#sitetitle {
//			color: #000000;
			width: auto;
			height: 40px;
			background-color: #fff;
			img {
				width: auto;
				height: 40px;
			}
		}
	}
}
#mainnav-area {
//	position: absolute;
//	top: 0;right: 0;
//	height: 60px;
	display: none;
	#mainnav {
//		height: 60px;
		li {
			height: 60px;
			width: 100px;
//			float: left;
			a {
//				display: block;
//				position: relative;
				width: 100px;
				height: 60px;
				line-height: 60px;
//				font-family: serif;
//				font-style: italic;
//				font-size: 18px;
//				text-align: center;
//				color: #333;
				&:hover {
					color: $baseColor01;
				}
			}
		}
	}
}
#content {
}
.headings-area {
//	width: 100%;
//	text-align: center;
//	letter-spacing: 0.1em;
//	border-bottom: 2px solid $baseColor00;
	.headings {
		width: $contentWidthSP;
//		margin: 0 auto;
		font-size: 18px;
//		font-family: serif;
//		color: $baseColor00;
	}
	.lead {
		font-size: 10px;
//		margin-bottom: 20px;
//		color: #666;
		br {
			display: block;
		}
	}
}
#key-area {
	width: 100%;
	min-height: 150px;
	position: relative;
	overflow: hidden;
	margin-bottom: 40px;
	#whats {
		position: absolute;
		font-size: 16px;
		width: 100%;
		text-align: center;
		bottom: 25px;
		a {
			font-size: 12px;
			letter-spacing: 0.1em;
			color: #ffffff;
			border: 1px solid #ffffff;
			padding: 10px;
			border-radius: 5px;
		}
	}
	#arrow {
		display: none;
	}
	img {
		position: absolute;
		top: 50%;left: 50%;
		width: 100%;
		height: auto;
		margin-left: -50%;
		margin-top: -25%;
	}
}
.section {
	width: $contentWidthSP;
//	min-height: 300px;
	margin: 0 auto 60px;
	padding: 20px 5px;
}
#footer {
	padding: 0 10px;
//	background-color: #000000;
	#inner-footer {
//		height: 40px;
//		line-height: 40px;
		#copy {
//			color: #ffffff;
		}
	}
}

#member {
//	overflow: hidden;
	li {
		width: 50%;
		height: auto;
		min-height: 220px;
//		float: left;
		margin-bottom: 20px;
		.name-thumb {
			width: 80px;
			height: 80px;
//			background-color: #cccccc;
			margin: 0 auto 15px;
			border-radius: 40px;
			img {
				border-radius: 40px;
				width: 80px;
				height: 80px;
			}
		}
		.profile {
			padding: 0 5px;
//			text-align: center;
			font-size: 10px;
			.ja {
				font-size: 14px;
				font-family: serif;
				margin-bottom: 0.5em;
				span {
					display: block;
					font-size: 12px;
				}
			}
		}
	}
}

#contact-btn {
	width: 240px;
//	height: 60px;
//	margin: 40px auto;
	a {
//		display: block;
		width: 240px;
		padding: 0 10px;
		height: 40px;
		font-size: 14px;
		line-height: 40px;
//		text-align: center;
//		background-color: #333;
//		color: #ffffff;
//		border-radius: 3px;
		&:hover {
//			background-color: #000;
		}
	}
}

#pagetop-btn {
//	position: fixed;
	bottom: 20px;right: 20px;
	a {
//		display: block;
		width: 35px;
		height: 35px;
		line-height: 35px;
//		font-size: 18px;
//		background-color: $baseColor00;
//		color: #ffffff;
//		border-radius: 35px;
//		text-align: center;
		opacity: 1;
		&:hover {
//			opacity: 1;
		}
	}
}
#sec01-bg {
	background-position: 50% 50%;
	background-size: cover;
}
#sec01 {
	font-size: 14px;
	.text {
	}
	.sec-group {
		padding: 0 1em;
		margin-bottom: 45px;
		ul {
			li {
				font-size: 14px;
				color: #ffffff;
				a {
					color: #ffffff;
					text-decoration: underline;
				}
			}
		}
	}
}

#sec02-bg {
//	background-color: #f9fafa;
}

.top-event-sec,
.top-news-sec {
	ul {
		margin-bottom: 20px;
		a {
			display: block;
			color: #333;
			&:hover {
				background-color: #f6f6f6;
			}
		}
		li {
//			border-bottom: 1px dotted #ccc;
			font-size: 10px;
			line-height: 2em;
			padding: 10px 0;
			dl {
				dt {
					display: block;
//					margin-right: 1em;
//					color: $baseColor01;
//					font-weight: bold;
				}
				dd {
//					display: inline-block;
				}
			}
		}
	}
	.more-btn {
		font-size: 12px;
		padding-right: 10px;
//		text-align: right;
		a {
//			text-decoration: underline;
		}
	}
}

#sec06-headings-area {
	margin-bottom: 0;
	#map-in-box {
		overflow: hidden;
//		position: static;
//		bottom: -390px;left: 20px;
//		z-index: 9999;
//		width: 100%;
//		height: auto;
		min-height: 160px;
		padding: 10px;
//		background-color: #333;
//		border-radius: 3px;
//		font-family: serif;
		img {
//			position: static;
//			float: left;
//			margin-right: 20px;
//			top: 25px;left: 15px;
		}
		h4 {
//			position: static;
//			right: 15px;top: 15px;
//			color: #fff;
//			width: 100%;
			font-size: 14px;
//			text-align: left;
//			border-bottom: none;
//			padding-bottom: 5px;
		}
		p {
//			position: static;
//			right: 15px;
//			top: 50px;
			font-size: 12px;
//			color: #fff;
//			text-align: left;
//			font-size: 12px;
//			width: 100%;
		}
	}
}
/*gmap*/
.gmap-area {
//	position: relative;
//	height: 600px;
//	width: 100%;
//	background-color: #ccc;
}
#mapbox {
//	width: 260px;
//	height: auto;
	h4 {
//		font-size: 14px;
//		font-weight: bold;
	}
	a {
//		color: #333;
//		text-decoration: underline;
	}
	table {
//		width: 100%;
		th,td {
//			font-size: 11px;
		}
		th {
//			vertical-align: top;
//			width: 30%;
//			font-weight: bold;
		}
		td {
		}
	}
}

#bred {
	padding-left: 10px;
	margin-bottom: 30px;
	li {
		display: inline-block;
		line-height: 2em;
	}
}
#single-main {
//	overflow: hidden;
	padding: 30px 0;
	#go-top {
		text-align: left;
		padding: 15px 0;
	}
}
#single-post {
	width: 72.5%;
	padding: 0 2.5%;
	margin: 0 auto;
//	float: left;
	font-size: 14px;
//	line-height: 1.75em;
}
#side {
//	width: 20%;
//	float: right;
//	font-size: 16px;
//	line-height: 1.75em;
}
/*767px end*/
}
@media screen and (max-width: 479px) {
/* contact form */
#sec05 {
}
.wpcf7 {
	width: 90%;
	margin: 0 auto;
	.f-title {
		font-size: 12px;
		letter-spacing: 0.1em;
		span {
			font-size: 10px;
//			color: red;
		}
	}
	input {
		width: 100%;
		height: 2em;
		line-height: 2em;
		font-size: 14px;
		margin-bottom: 1em;
	}
	textarea {
//		width: 100%;
		height: 140px;
		font-size: 14px;
//		line-height: 1.75em;
//		resize: none;
//		overflow: auto;
		margin-bottom: 2em;
	}
	#f-btn-submit {
		input {
			width: 60%;
			margin: 0 20%;
			background-color: #333;
			border: none;
			height: 40px;
			line-height: 40px;
			color: #ffffff;
			letter-spacing: 0.1em;
			border-radius: 3px;
		}
	}
}
/*479px end*/
}
