@charset "UTF-8";
body {
  /*	font-size: 14px;*/
  line-height: 1.75;
  color: #333;
}

a {
  text-decoration: none;
  color: #745399;
  transition: all 0.3s linear;
}

/*header*/
#header .header-row {
  background-color: #622954;
}
#header .header-text {
  color: #ffffff;
  height: 20px;
  line-height: 20px;
  text-indent: 10px;
  margin: 0;
}

/*navbar*/
.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  padding: 25px 0 0 10px;
}
.navbar-brand img {
  width: 180px;
  height: 30px;
}

@media (min-width: 768px) {
  .navbar-brand {
    padding: 20px 0 20px 20px;
  }
  .navbar-brand img {
    width: auto;
    height: 40px;
  }
}
/*footer*/
#footer {
  background-color: #622954;
}
#footer #inner-footer {
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  font-size: 12px;
}

@media (min-width: 768px) {
  #footer #inner-footer {
    height: 60px;
    line-height: 60px;
    text-indent: 20px;
  }
}
/*keyarea*/
#key-area {
  width: 100%;
  min-height: 150px;
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
  background-color: #000;
}
#key-area:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  height: 10px;
  width: 100%;
  background-image: url(images/nav_under.png);
}
#key-area #whats {
  display: none;
}
#key-area #arrow {
  display: none;
}
#key-area img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  margin-left: -50%;
  margin-top: -25%;
}

@media (min-width: 768px) {
  #key-area {
    width: 100%;
    min-height: auto;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin-bottom: 120px;
    background-color: #000;
  }
  #key-area:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    height: 10px;
    width: 100%;
    background-image: url(images/nav_under.png);
  }
  #key-area #arrow {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 999;
    width: 40px;
    height: 40px;
    margin-left: -20px;
  }
  #key-area #arrow img {
    width: 100%;
    height: auto;
    margin-left: -50%;
    margin-top: -25%;
  }
  #key-area #whats {
    display: block;
    position: absolute;
    font-size: 24px;
    width: 30%;
    margin: 0 35%;
    text-align: center;
    bottom: 120px;
    z-index: 50;
    letter-spacing: 0.1em;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.9;
  }
}
/*section header*/
.theme-section .header {
  width: 100%;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}
.theme-section .header h2 {
  font-size: 21px;
  font-family: serif;
  color: #622954;
}
.theme-section .header .lead {
  font-size: 14px;
  color: #666;
}
@media (min-width: 768px) {
  .theme-section .header h2 {
    font-size: 30px;
  }
  .theme-section .header .lead {
    font-size: 21px;
  }
  .theme-section .header .lead br {
    display: none;
  }
}

/*section body*/
.theme-section .body {
  border-top: 2px solid #622954;
}

/*toppage section recents*/
#recents .top-event-sec ul {
  margin-bottom: 40px;
  list-style: none;
  padding: 0;
}
#recents .top-event-sec ul li {
  margin-top: 22px;
  border-bottom: 1px dotted #ccc;
  font-size: 12px;
}
#recents .top-event-sec ul li a {
  display: block;
  color: #333;
}
#recents .top-event-sec ul li a:hover {
  background-color: #f6f6f6;
  text-decoration: none;
}
#recents .top-event-sec ul li a dl dt {
  display: inline-block;
  margin-right: 0.5em;
  color: #745399;
  font-weight: bold;
}
#recents .top-event-sec ul li a dl dd {
  display: inline;
}

@media (min-width: 768px) {
  #recents .top-event-sec ul {
    margin-bottom: 40px;
  }
  #recents .top-event-sec ul li {
    font-size: 16px;
  }
  #recents .top-event-sec ul li a dl dt {
    display: inline-block;
    margin-right: 1em;
    color: #745399;
    font-weight: bold;
  }
}
/*toppage section app*/
#applications {
  /*
  	.btn { font-size: 12px; }
  	@media (min-width: 768px) {
  		.btn { font-size: 16px; }
  		.item img { width: 100%;height: auto; }
  	}
  
  	.carousel {
  		.carousel-caption { bottom: 0; }
  		.carousel-indicators { bottom: 0; }
  		ol { margin-bottom: 0; }
  		@media (min-width: 768px) {
  			.carousel-caption { bottom: 20px; }
  			.carousel-indicators { bottom: 10px; }
  			ol { margin-bottom: 11px; }
  		}
  	}
  */
}
#applications .body ul {
  margin-top: 2em;
  text-align: center;
}
#applications .body li {
  list-style: none;
}

/*toppage section aboutus*/
#aboutus .body {
  background-image: url(images/aboutus.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  padding: 30px 0;
  color: #ffffff;
}
#aboutus .body h3 {
  font-size: 16px;
  padding: 0 0 10px 0;
  margin-left: 0;
  border-bottom: 1px dotted #fff;
}
#aboutus .body .text {
  padding: 0 15px;
}
#aboutus .body ul {
  padding: 0 15px;
}
#aboutus .body ul, #aboutus .body li {
  list-style-position: inside;
}
#aboutus .body li {
  padding: 0;
}
@media (min-width: 768px) {
  #aboutus .body {
    font-size: 14px;
  }
  #aboutus .body h3 {
    font-size: 21px;
  }
}

/*toppage section member*/
#members .body ul {
  margin-top: 2em;
  text-align: center;
}
#members .body li {
  list-style: none;
}
#members .body img {
  width: 100px;
  height: 100px;
}
#members .body .profile {
  text-align: center;
}
#members .body .profile .ja {
  font-family: serif;
  margin-bottom: 0.75em;
}
#members .body .profile .ja span {
  display: block;
}
@media (min-width: 768px) {
  #members .body li {
    padding: 0 0 30px;
  }
  #members .body img {
    width: 160px;
    height: 160px;
  }
  #members .body .profile {
    padding: 20px 0 20px;
  }
}
@media (min-width: 992px) {
  #members .body img {
    width: 160px;
    height: 160px;
  }
}
#members .body .vaycat {
  background-color: #000000;
  padding: 10px 0;
  color: #ffffff;
  text-align: center;
}

/*toppage section place*/
#place {
  font-size: 12px;
}

/*gmap area*/
.gmap-area {
  position: relative;
  height: 600px;
  width: 100%;
  background-color: #ccc;
}

#mapbox {
  width: 220px;
  height: auto;
}
#mapbox h4 {
  font-size: 14px;
  font-weight: bold;
}
#mapbox a {
  color: #333;
  text-decoration: underline;
}
#mapbox table {
  width: 100%;
}
#mapbox table th, #mapbox table td {
  font-size: 11px;
}
#mapbox table th {
  vertical-align: top;
  width: 30%;
  font-weight: bold;
}
@media (min-width: 768px) {
  #mapbox {
    width: 300px;
    height: auto;
  }
}

#pagetop-btn {
  position: fixed;
  bottom: 40px;
  right: 10px;
  text-indent: -9999px;
}
#pagetop-btn a {
  display: block;
  width: 40px;
  height: 40px;
  opacity: 0.75;
  background-image: url(images/pagetop_btn.png);
  background-size: 40px 40px;
}
#pagetop-btn a:hover {
  opacity: 1;
}
@media (min-width: 768px) {
  #pagetop-btn {
    position: fixed;
    bottom: 80px;
    right: 30px;
  }
  #pagetop-btn a {
    display: block;
    width: 80px;
    height: 80px;
    opacity: 0.75;
    background-size: 80px 80px;
  }
}

/**
 *	Bootstrapクラスのスタイル補正
 */
.list-group-item .badge {
  margin-top: 6px;
}

/*# sourceMappingURL=theme.css.map */
