@charset "utf-8";
/*last up date 2015.07.06*/
$baseColor00: #622954;
$baseColor01: #745399;
$contentWidth: 1080px;
body {
	font-size: 14px;
	line-height: 1.75;
	color: #333;
}
a {
	text-decoration: none;
	color: $baseColor01;
	transition: all 0.3s linear;
}
.sp-none { display: none; }
@media (min-width: 768px) {
	.sp-none { display: block; }
}
/*navbar*/
.navbar { margin-bottom: 0; }
.navbar-brand {
	padding: 25px 0 0 10px;
	img {
		width: 180px;
		height: 30px;
	}
}
@media (min-width: 768px) {
	.navbar-brand {
		padding: 20px 0 20px 20px;
		img {
			width: auto;
			height: 40px;
		}
	}
}

/*header*/
#header-line {
	background-color: $baseColor00;
	#header-text {
		color: #ffffff;
		height: 20px;
		line-height: 20px;
		text-indent: 10px;
		margin: 0;
	}
}

/*footer*/
#footer {
	background-color: $baseColor00;
	#inner-footer {
		color: #ffffff;
		height: 30px;
		line-height: 30px;
		text-indent: 10px;
		font-size: 12px;
	}
}
@media (min-width: 768px) {
	#footer {
		#inner-footer {
			height: 60px;
			line-height: 60px;
			text-indent: 20px;
		}
	}
}

/*keyarea*/
#key-area {
	width: 100%;
	min-height: 150px;
	position: relative;
	overflow: hidden;
	margin-bottom: 60px;
	background-color: #000;
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;left: 0;
		z-index: 999;
		height: 10px;
		width: 100%;
		background-image: url(images/nav_under.png);
	}
	#whats { display: none; }
	#arrow { display: none; }
	img {
		position: absolute;
		top: 50%;left: 50%;
		width: 100%;
		height: auto;
		margin-left: -50%;
		margin-top: -25%;
	}
}
@media (min-width: 768px) {
	#key-area {
		width: 100%;
		min-height: auto;
		height: 400px;
		position: relative;
		overflow: hidden;
		margin-bottom: 120px;
		background-color: #000;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;left: 0;
			z-index: 999;
			height: 10px;
			width: 100%;
			background-image: url(images/nav_under.png);
		}
		#arrow {
			display: block;
			position: absolute;
			bottom: 30px;left: 50%;
			z-index: 999;
			width: 40px;
			height: 40px;
			margin-left: -20px;
			img {
				width: 100%;
				height: auto;
				margin-left: -50%;
				margin-top: -25%;
			}
		}
		#whats {
			display: block;
			position: absolute;
			font-size: 24px;
			width: 30%;
			margin: 0 35%;
			text-align: center;
			bottom: 120px;
			z-index: 50;
			letter-spacing: 0.1em;
			color: #ffffff;
			border: 1px solid #ffffff;
			padding: 5px;
			border-radius: 5px;
			opacity: 0.9;
		}
	}
}

/*headings*/
.headings-area {
	width: 100%;
	text-align: center;
	letter-spacing: 0.1em;
	border-bottom: 2px solid $baseColor00;
	margin-bottom: 30px;
	.headings {
		font-size: 21px;
		font-family: serif;
		color: $baseColor00;
	}
	.lead {
		font-size: 14px;
//		margin-bottom: 20px;
		color: #666;
	}
}
@media (min-width: 768px) {
	.headings-area {
		.headings {
			font-size: 30px;
		}
		.lead {
			font-size: 21px;
	//		margin-bottom: 20px;
			br { display: none; }
		}
	}
}

/*toppage section recents*/
#recents {
  .top-event-sec {
  	ul {
  		margin-bottom: 40px;
      list-style: none;
			padding: 0;
  		li {
  			border-bottom: 1px dotted #ccc;
  			font-size: 12px;
  			line-height: 3em;
        height: 3em;
        a {
    			display: block;
    			color: #333;
    			&:hover {
    				background-color: #f6f6f6;
            text-decoration: none;
    			}
          dl {
    				dt {
    					display: inline-block;
    					margin-right: 0.5em;
    					color: $baseColor01;
    					font-weight: bold;
    				}
    				dd { display: inline-block; }
    			}
    		}
  		}
  	}
  }
}
@media (min-width: 768px) {
	#recents {
	  .top-event-sec {
	  	ul {
	  		margin-bottom: 40px;
	  		li {
	  			font-size: 16px;
	  			line-height: 4em;
	        height: 4em;
	        a {
	          dl {
	    				dt {
	    					display: inline-block;
	    					margin-right: 1em;
	    					color: $baseColor01;
	    					font-weight: bold;
	    				}
	    			}
	    		}
	  		}
	  	}
	  }
	}
}

/*toppage section app*/
#applications {
	.headings-area { margin-bottom: 0;}
	.btn { font-size: 12px; }
}
#appCarousel {
	.carousel-caption { bottom: 0; }
	.carousel-indicators { bottom: 0; }
	ol { margin-bottom: 0; }
}
@media (min-width: 768px) {
	#applications {
		.btn { font-size: 16px; }
		.item img { width: 100%;height: auto; }
	}
	#appCarousel {
		.carousel-caption { bottom: 20px; }
		.carousel-indicators { bottom: 10px; }
		ol { margin-bottom: 11px; }
	}
}

/*toppage section member*/
#member.row { margin: 0 auto; }
#member {
	padding: 0;
  text-align: center;
  li { list-style: none; }
  img { width: 100px;height: 100px; }
  .profile {
    text-align: center;
    .ja {
      font-family: serif;
      margin-bottom: 0.75em;
      span {
        display: block;
      }
    }
  }
}

@media (min-width: 768px) {
  #member {
    li { padding: 0 0 30px; }
    img { width: 160px;height: 160px; }
    .profile { padding: 20px 0 20px; }
  }
}
@media (min-width: 992px) {
  #member {
//    li { padding: 0 80px 60px; }
    img { width: 160px;height: 160px; }
//    .profile { padding: 20px 0 0; }
  }
}

/*toppage section aboutus*/
#aboutus {
	.headings-area { margin-bottom: 0;}
}
#aboutus-bg {
	background-image: url(images/aboutus_bg.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	padding: 30px 0;
	color: #ffffff;
	.aboutus-subtitle { font-size: 16px;padding: 0 0 10px 0;margin-left: 0;border-bottom: 1px dotted #fff; }
	.text { padding: 0 15px; }
	ul { padding: 0 15px; }
	ul, li { list-style-position: inside;}
	li { padding: 0; }
}
@media (min-width: 768px) {
	#aboutus-bg {
		font-size: 14px;
		.aboutus-subtitle { font-size: 21px; }
	}
}

/*toppage section place*/
#place {
	.headings-area { margin-bottom: 0;}
	font-size: 12px;
	#cat-box {
		background-color: #000000;
		padding: 10px 0;
		color: #ffffff;
	}
}

/*gmap area*/
.gmap-area {
	position: relative;
	height: 600px;
	width: 100%;
	background-color: #ccc;
}
#mapbox {
	width: 220px;
	height: auto;
	h4 {
		font-size: 14px;
		font-weight: bold;
	}
	a {
		color: #333;
		text-decoration: underline;
	}
	table {
		width: 100%;
		th,td { font-size: 11px; }
		th {
			vertical-align: top;
			width: 30%;
			font-weight: bold;
		}
		td {}
	}
}
@media (min-width: 768px) {
	#mapbox {
		width: 300px;
		height: auto;
	}
}

#pagetop-btn {
	position: fixed;
	bottom: 40px;right: 10px;
	text-indent: -9999px;
	a {
		display: block;
		width: 40px;
		height: 40px;
		opacity: 0.75;
		background-image: url(images/pagetop_btn.png);
		background-size: 40px 40px;
		&:hover {
			opacity: 1;
		}
	}
}
@media (min-width: 768px) {
	#pagetop-btn {
		position: fixed;
		bottom: 80px;right: 30px;
		a {
			display: block;
			width: 80px;
			height: 80px;
			opacity: 0.75;
			background-size: 80px 80px;
		}
	}
}
